{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <div class="navbar-center">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_article' %}">Add Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'search' %}">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'embeddings_example_page' %}">Embeddings Example</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="confirmDropCollection()">Truncate database</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="modal" id="responseModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Response</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    function confirmDropCollection() {
        if (confirm('Do you really want to drop this vector database?')) {
            dropMilvusCollection();
        }
    }

    function dropMilvusCollection() {
        fetch("{% url 'drop_milvus_collection' %}", {
            method: 'GET',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
        .then(response => response.json())
        .then(data => {
            document.querySelector('#responseModal .modal-body').innerHTML = data.message;
            var myModal = new bootstrap.Modal(document.getElementById('responseModal'));
            myModal.show();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}
